# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
design/active-states-basket-empty.jpg
design/active-states-basket-filled.jpg
design/active-states-lightbox.jpg
design/desktop-design-lightbox.jpg
design/desktop-design.jpg
design/desktop-preview.jpg
design/mobile-design-basket-empty.jpg
design/mobile-design-basket-filled.jpg
design/mobile-design.jpg
design/mobile-menu.jpg
READMEdd.md
style-guide.md
